.card {
  margin-bottom: 20px;
}

.image-measure-container img {
  max-width: 100%;
  height: auto;
}

.image-measure-container {
  position: relative;
  max-width: 100%;
}

.card-body div {
  margin-bottom: 10px;
}
