.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.navigation {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.navigation a {
  flex-grow: 1; /* Each link will take equal space */
  text-align: center;
  background-color: #007bff; /* Bootstrap primary color */
  color: white;
  padding: 20px;
  margin: 10px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.navigation a:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

/* Base styles for form */
.form-group {
    display: flex;
    flex-direction: column; /* Stack label and input vertically on smaller screens */
    margin-bottom: 10px;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input {
    width: 100%; /* Ensure input fields take full width on smaller screens */
}

.submit-button {
    margin-top: 20px;
    width: 100%; /* Full width button on smaller screens */
}

/* Media query for screens wider than 600px */
@media (min-width: 600px) {
    .form-group {
        flex-direction: row; /* Align label and input horizontally on larger screens */
        align-items: center;
    }

    .form-group label {
        margin-right: 10px;
        margin-bottom: 0;
        width: 150px; /* Fixed width for labels on larger screens */
    }

    .submit-button {
        width: auto; /* Auto width for button on larger screens */
    }
}
